#datepicker-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: #f2f2f2;
  /* padding: 20px; */
  border-radius: 5px;
  /* border: 2px solid white; */
  /* width: 500px; */
  .accordion-collapse {
    width: 500px
  }

  .accordion-button.collapsed {
    font-size: 0
  }
}

.dtpick {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  
}

.filters-handle {
  &.collapsed {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    
    &:before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #000;
      border-radius: 50%;
      margin-right: 5px;
    }
  }
}

.filters-table {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  hr:last-child {
    display: none;
  }
}

.accordion-body {
  background-color: #f8f8f8;
}

.accordion-button::after {
  /* svg in /assets/images/chevron-down.svg */
  background-image: url("/static/images/chevron-down.svg");
}
.accordion-button:not(.collapsed)::after {
  /* svg in /assets/images/chevron-down.svg */
  background-image: url("/static/images/chevron-down.svg");
}
