{% extends 'base.html' %}

{% block head %}
	<link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/marker_popup.css') }}"
    />
{% endblock %}

{% block content %}

<div id="map"></div>
<script src="{{ url_for('static', filename='js/map.js') }}" /></script>
<script src="{{ url_for('static', filename='js/contornoMunicipios.js') }}" /></script>
<script src="{{ url_for('static', filename='js/searchbar.js') }}" /></script>

<script>
let localidadeIcon = L.Icon.extend({options: {
    iconSize:     [38, 95]
}})
{% for idx, localidade in data.iterrows() %}
L.marker([{{ localidade['lat(y)'] }}, {{ localidade['long(x)'] }}], {
	icon: new L.DivIcon({
		className: '',
		html: '<i class="fa-solid fa-house fa-lg" style="color:#4c4c4c;"></i>'
	})
}).addTo(map)
.bindPopup(`

<!-- Versão tudo de uma vez -->
<div class="marker-popup">
  <!-- Dados Localidade -->
  <p class="maker-popup_text-localidade">Município: {{localidade["nm_mun"]}}</p>
  <p class="maker-popup_text-localidade">Distrito: {{localidade["nm_dist"]}}</p>
  <p class="maker-popup_text-localidade">Localidade: {{localidade["nm_localidade"]}}</p>

  <hr />

  <p class="maker-popup_text-dados-principais">Sistema de Abastecimento: {{localidade["cagece_sistema_de_abastecimento"]}}</p>    

  <div class="w-100 d-flex align-items-end justify-content-end mt-1">
    <a class="text-primary text-decoration-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Mostrar metadados</a>
  </div>

  <div class="collapse" id="collapseExample">
    <hr class="my-2" />

    <p class="maker-popup_text-metadados text-dark">Código Município: <span class="text-primary">{{localidade["cd_mun"]}}</span></p>
    <p class="maker-popup_text-metadados text-dark">Código Distrito: <span class="text-primary">{{localidade["cd_dist"]}}</span></p>
    <p class="maker-popup_text-metadados text-dark">Código Localidade: <span class="text-primary">{{localidade["cd_localidade"]}}</span></p> 
  </div>
</div>
`);
{% endfor %}
</script>

{% endblock %}