{% extends 'base.html' %}

{% block head %}
	<script>
	$(function() {
		$( ".dtpick" ).datepicker({
			dateFormat: 'dd/mm/yy'
		});
	});
	</script>
{% endblock %}

{% block content %}
<form method="get" action="">
<div id="datepicker-container">
  <button class="btn btn-primary filters-handle d-none" type="button" data-bs-toggle="collapse" data-bs-target="#accordionExample" aria-expanded="false" aria-controls="accordionExample">
    Button with data-bs-target
  </button>
<div class="collapse show">
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Datetime
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
		{{ form.hidden_tag() }}
		<div class="input-group mb-3">
		<span class="input-group-text" id="basic-addon1">
			<i class="fa fa-calendar" style="font-size:20px;color:black"></i>
		</span>
	
		<input type="datetime-local" class="form-control" aria-label="Datetime" aria-describedby="basic-addon1"
			name="datetime" id="datetime" value="{{ form.datetime.data }}"
			min="2020-01-01T00:00" max="2024-06-15T00:00">

    	<button type="submit" class="btn btn-primary">Filtrar</button>
		</div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Filtros de Dados
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
	<div class="accordion-body">
	  {% for column in data_columns %}
	  <div class="form-check">
		<input class="form-check-input" type="checkbox" name="{{ column }}" id="{{ column }}" {% if column in request_args %}checked{% endif %}>
		<label class="form-check-label" for="{{ column }}">
		{{ column }}
		</label>
	  </div>
	  <hr />
	  {% endfor %}
	  <div class="text-end">
		<button type="submit" class="btn btn-primary">Aplicar filtros</button>
	  </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>
</form>

<div id="map"></div>
<script src="{{ url_for('static', filename='js/map.js') }}" /></script>
<script>
{% for marker in markers %}
L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}]).addTo(map)
.bindPopup("{{ marker['popup'] }}");
{% endfor %}
</script>
{% endblock %}